* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 2.7rem;
    background-color: #ee4242;
}

.content {
    padding: 1rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}